<section class="projects">
  <div class="container-xl mx-auto px-5">
    <div class="row">
      <div class="pro-text">
        <p class="caption">Best projects of the years</p>
        <h2 class="head">Our recent projects</h2>
      </div>
      <div class="pro-cards">
        <div class="card">
          <div class="image">
            <img src="property-4.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Sobha Heartland ll Villas <span class="rating">⭐ 4.83</span></h3>
            <p>4 Bedroom villa for rest in Al Barsha <br>1 villa, Al Barsha 1, Al Barsha</p>
            <div class="book">
              <span class="price">$189 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="image">
            <img src="property-3.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Mykonos Damac Lagoons <span class="rating">⭐ 4.67</span></h3>
            <p>2 Bedroom Apartment for rent in <br> Balqis Residence, Palm Jumeirah</p>
            <div class="book">
              <span class="price">$560 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="property.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Verdana 2 Residence<span class="rating">⭐ 4.83</span></h3>
            <p>1 Bedroom Apartment for rent in Continental <br>Tower, Dubai Marina</p>
            <div class="book">
              <span class="price">$231 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>


      </div>

      <div class="pro-cards">


        <div class="card">
          <div class="image">
            <img src="property-3.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Mykonos Damac Lagoons <span class="rating">⭐ 4.67</span></h3>
            <p>2 Bedroom Apartment for rent in <br> Balqis Residence, Palm Jumeirah</p>
            <div class="book">
              <span class="price">$560 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="image">
            <img src="property-4.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Sobha Heartland ll Villas <span class="rating">⭐ 4.83</span></h3>
            <p>4 Bedroom villa for rest in Al Barsha <br>1 villa, Al Barsha 1, Al Barsha</p>
            <div class="book">
              <span class="price">$189 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>

         <div class="card">
          <div class="image">
            <img src="property.png" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Verdana 2 Residence<span class="rating">⭐ 4.83</span></h3>
            <p>1 Bedroom Apartment for rent in Continental <br>Tower, Dubai Marina</p>
            <div class="book">
              <span class="price">$231 <span>Night</span></span>
              <button class="btn-primary">Book Now</button>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</section>

<section class="suscribe">
    <div class="container-xl px-5 mx-auto">
      <div class="content-bg">
        <div class="cover">
          <img src="bg-3.png" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h1 class="mid-head">Suscribe our newsletter</h1>
              <p class="caption">
                Suscribe to our newsletter for regular updates so that you can know
                more information about us.
              </p>
              <div class="button">
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="email"
                />
                <button class="btn">Suscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
