<section class="tp-info">
    <div class="container-xl px-5 mx-auto">
      <div class="title">
        <h2 class="head">Get in Touch</h2>
        <p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>
    </div>
    </div>
</section>

<section class="form">
    <div class="container-xl px-5 mx-auto">
      <div class="content">
        <div class="form-content">
          <div class="info">
            <div class="name">
              <h3 class="title">Name*</h3>
              <input type="text" class="input" name="name" id="name" required/>
            </div>
            <div class="email">
              <h3 class="title">Email*</h3>
              <input type="email" class="input" name="email" id="email" required/>
            </div>
            <div class="subject">
              <h3 class="title">Subject</h3>
              <input type="email" class="input" name="email" id="email" required/>
            </div>
          </div>
          <div class="text-area">
              <h3 class="title">Message</h3>
          <textarea class="text-control" name="message" id="message" required></textarea>
          </div>
          <div class="button">
               <button class="btn-primary">Send Message</button>
            </div>
        </div>
        <div class="responsive-map">
          <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889"
          width="800"
          height="520"
          frameborder="0"
          style="border: 0; border-radius: 10px; object-fit: cover;"
          allowfullscreen
          class="map"
        ></iframe>
        </div>
      </div>
    </div>
  </section>


  <section class="suscribe">
    <div class="container-xl px-5 mx-auto">
      <div class="content-bg">
        <div class="cover">
          <img src="bg-3.png" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h1 class="mid-head">Suscribe our newsletter</h1>
              <p class="caption">
                Suscribe to our newsletter for regular updates so that you can know
                more information about us.
              </p>
              <div class="button">
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="email"
                />
                <button class="btn">Suscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
