<section class="blogs">
  <div class="container-xl mx-auto px-5">
    <div class="row">
      <div class="blog-text">
        <p class="caption">Our trending blogs</p>
        <h2 class="head">Read our latest blogs</h2>
      </div>
      <div class="blog-cards">
        <div class="card">
          <div class="image">
            <img src="blogs-1.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Real estate news &#9679; Nov 20,2023<span class="rating"><i class="fa fa-clock"></i> 4:30</span></h3>
            <p>How Well Did Property Experts <br>Forecast Singapore's</p>
            <div class="book">
              <span class="author">by - Astin Bravo</span>
              <button class="btn-primary" routerLinkActive="active" routerLink="/blog-details">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="image">
            <img src="blogs-2.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Interviews &#9679; Nov 20,2023 <span class="rating"><i class="fa fa-clock"></i> 4:30</span></h3>
            <p>Californian essentials with <br> Jilian Rocco</p>
            <div class="book">
              <span class="author">by - Forestia Bravo</span>
              <button class="btn-primary">Read More</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="blogs-3.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Community &#9679; Nov 20,2023 <span class="rating"><i class="fa fa-clock"></i> 3:14</span></h3>
            <p>We Own A JB House, A Punggol <br> Condo & Executive</p>
            <div class="book">
              <span class="author">by - Anastasia Giougia</span>
              <button class="btn-primary">Read More</button>
            </div>
          </div>
        </div>
    </div>


    <div class="blog-cards">

        <div class="card">
          <div class="image">
            <img src="blogs-3.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Community &#9679; Nov 20,2023 <span class="rating"><i class="fa fa-clock"></i> 3:14</span></h3>
            <p>We Own A JB House, A Punggol <br> Condo & Executive</p>
            <div class="book">
              <span class="author">by - Anastasia Giougia</span>
              <button class="btn-primary">Read More</button>
            </div>
          </div>
        </div>

        
        <div class="card">
          <div class="image">
            <img src="blogs-1.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Real estate news &#9679; Nov 20,2023<span class="rating"><i class="fa fa-clock"></i> 4:30</span></h3>
            <p>How Well Did Property Experts <br>Forecast Singapore's</p>
            <div class="book">
              <span class="author">by - Astin Bravo</span>
              <button class="btn-primary">Read More</button>
            </div>
          </div>
        </div>

        

        <div class="card">
          <div class="image">
            <img src="blogs-2.jpg" alt="" class="img">
          </div>
          <div class="card-text">
            <h3>Interviews &#9679; Nov 20,2023 <span class="rating"><i class="fa fa-clock"></i> 4:30</span></h3>
            <p>Californian essentials with <br> Jilian Rocco</p>
            <div class="book">
              <span class="author">by - Forestia Bravo</span>
              <button class="btn-primary">Read More</button>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>



<section class="suscribe">
    <div class="container-xl px-5 mx-auto">
      <div class="content-bg">
        <div class="cover">
          <img src="bg-3.png" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h1 class="mid-head">Suscribe our newsletter</h1>
              <p class="caption">
                Suscribe to our newsletter for regular updates so that you can know
                more information about us.
              </p>
              <div class="button">
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="email"
                />
                <button class="btn">Suscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
